* {
  font-family: Fjalla;
}

hr {
  width: 60px;
  margin-left: 0;
}

span {
  color: #B99362;
  font-size: 25px;
  letter-spacing: 1px;
}

.title {
  color: White;
  position: absolute;
  right: 130px;
  top: 40px;
  font-size: 30px;
  letter-spacing: 2px;
  width: 300px;
}
.title .france {
  line-height: 15px;
}
.title .cn {
  top: 15px;
  font-size: 20px;
}
.title p {
  font-size: 12px;
}

svg {
  height: 100vh;
}

body {
  background-color: #222;
}

path {
  stroke: white;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer;
}
path:hover {
  fill: #B99362;
  transform: translate(-5px, -5px);
}

.forcast h2, .forcast h4, .forcast h5 {
  margin: 0;
}
.forcast h2 {
  margin-top: 20px;
}
